<!DOCTYPE HTML>

<!-- cetando a linguagem português do brasil -->
<html lang="pt-br">

<!-- cabeçalho do site -->

<head>

  <!-- exemplo de icone do site na aba -->
  <link rel="shortcut icon" type="image/x-icon" href="../imagens/img-icon/logo-icon-titulo-web.ico" />

  <!-- Titulo do site -->
  <title> Doa Fácil || Doador</title>

  <!-- adicione a meta tag dos caracteres especiais da linguagem português do brasil-->
  <meta charset="UTF-8" />

  <!-- criando compatibilidade com o navegador IE edge-->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

  <!-- adicione a meta tag do viewport responsivo-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0,  shrink-to-fit=no" />

  <!-- adicione a meta tag das palavras chaves para a identificação do site nos mecanismos de buscas-->
  <meta name="keyworks"
    content="doar, fácil, instituições, onges, abrigos, ajuda, doações, lar, produtos, serviços, quero doar, onde doar, pra quem doar,doafácil.com" />

  <!-- adicione a meta tag com descrição da empresa ou de quem criou  sistema-->
  <meta name="description"
    content=" O sistema DoaFácil.com, é um produto desenvolvido pela startup ateliê do bem, com o intuito de ligar as pessoas que querem doar, mais, não sabe a quem o seu donativo vai ser util, seja uma instituição, ongs e etc..." />

  <!-- adicione a meta tag com informações dos authores opcional -->
  <meta name="author" content="Joanderson A. Martins" />

  <!-- adicione a meta tag de contato tanto para a empresa ou do author-->
  <meta name="contato" content="+55 81 9.8545-6283" />

  <!-- Adicionando o link do site dos icones do google -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- Adicionando o link das fontes do google -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&display=swap" rel="stylesheet" />

  <!-- Chamando o arquivo local materialaize css -->
  <link type="text/css" rel="stylesheet" href="../plugins/CSS/materialize.css" media="screen,projection" />

  <link rel="stylesheet" href="../plugins/CSS/custom.css" />

</head>

<!-- Corpo do sistema-->

<body>
  <div class="row">
    <div class="col s12 l12">
      <img src="../imagens/img-png/logo-doaFacil-nome.png" alt="Imagem da Doa Fácil" class="logo-doaFacil-org" />
    </div>

    <div class="col s12 l4 m6">
      <div class="collection">
        <div class="collection-item avatar">
          <img src="../imagens/img-svg/avatar.svg" alt="" class="circle">
          <span class="title">Nome do doador
            <p> Nota 4.90
              <i class="material-icons">star</i>

              <a href="#!"><i class="material-icons right">add_shopping_cart</i></a>
            </p>
          </span>
        </div>
        <nav>
          <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
          <a class="collection-item" href="#!">Perfil</a>
          <a class="collection-item" href="#!">Historico de Doações</a>
          <a class="collection-item" href="#!">Excluir Conta </a>
          <a class="collection-item" href="../index.html">Sair</a>
      </div>
    </div>

    <div class="col l8 s12 m6 right">
      <div class="collection">
        <div class="collection-item avatar">

          <div class="col l5">
            <img src="../imagens/img-jpeg/game.png" alt="" class="circle">
            <span class="title">Nome da Organização - Nota 4.90<i class="material-icons">star</i></span>
            <p>Valor da Campanha R$ 300,00</p>
            <span>Valor Parcial Arrecadado R$ 80,39</span>
          </div>

          <div class="col l5">
            <p class="center"><span class="title">Descrição</span><br>Descrição completa da campanha.</p>
          </div>

          <div class="col l2">
            <span class="right center">Ver Campanha / Doar </br><a href="#!"><i
                  class="material-icons">local_atm</i></a></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col l8 s12 m6 right">
      <div class="collection">
        <div class="collection-item avatar">

          <div class="col l5">
            <img src="../imagens/img-jpeg/cabin.png" alt="" class="circle">
            <span class="title">Nome da Organização - Nota 4.90<i class="material-icons">star</i></span>
            <p>Valor da Campanha R$ 300,00</p>
            <span>Valor Parcial Arrecadado R$ 80,39</span>
          </div>

          <div class="col l5">
            <p class="center"><span class="title">Descrição</span><br>Descrição completa da campanha.</p>
          </div>

          <div class="col l2">
            <span class="right center">Ver Campanha / Doar </br><a href="#!"><i
                  class="material-icons">local_atm</i></a></span>
          </div>

        </div>
      </div>
    </div>

    <div class="col l8 s12 m6 right">
      <div class="collection">
        <div class="collection-item avatar">

          <div class="col l5">
            <img src="../imagens/img-jpeg/cake.png" alt="" class="circle">
            <span class="title">Nome da Organização - Nota 4.90<i class="material-icons">star</i></span>
            <p>Valor da Campanha R$ 300,00</p>
            <span>Valor Parcial Arrecadado R$ 80,39</span>
          </div>

          <div class="col l5">
            <p class="center"><span class="title">Descrição</span><br>Descrição completa da campanha.</p>
          </div>

          <div class="col l2">
            <span class="right center">Ver Campanha / Doar </br><a href="#!"><i
                  class="material-icons">local_atm</i></a></span>
          </div>

        </div>
      </div>
    </div>

    <div class="col l8 s12 m6 right">
      <div class="collection">
        <div class="collection-item avatar">
          <div class="col l5">
            <img src="../imagens/img-jpeg/circus.png" alt="" class="circle">
            <span class="title">Nome da Organização - Nota 4.90<i class="material-icons">star</i></span>
            <p>Valor da Campanha R$ 300,00</p>
            <span>Valor Parcial Arrecadado R$ 80,39</span>
          </div>

          <div class="col l5">
            <p class="center"><span class="title">Descrição</span><br>Descrição completa da campanha.</p>
          </div>

          <div class="col l2">
            <span class="right center">Ver Campanha / Doar </br><a href="#!"><i
                  class="material-icons">local_atm</i></a></span>
          </div>

        </div>
      </div>
    </div>
    <div class="col l8 s12 m6 right">
      <div class="collection">
        <div class="collection-item avatar">
          <div class="col l5">
            <img src="../imagens/img-jpeg/submarine.png" alt="" class="circle">
            <span class="title">Nome da Organização - Nota 4.90<i class="material-icons">star</i></span>
            <p>Valor da Campanha R$ 300,00</p>
            <span>Valor Parcial Arrecadado R$ 80,39</span>
          </div>

          <div class="col l5">
            <p class="center"><span class="title">Descrição</span><br>Descrição completa da campanha.</p>
          </div>

          <div class="col l2">
            <span class="right center">Ver Campanha / Doar </br><a href="#!"><i
                  class="material-icons">local_atm</i></a></span>
          </div>

        </div>
      </div>
    </div>

  </div>

  </div>

  <!-- Roda pé do site -->
  <footer class="page-footer footer">
    <div class="container">
      <div class="row">

        <div class="col l4 s12 m6">
          <h5 class="white-text">CORPORATIVO</h5>
          <p class="grey-text text-lighten-2">Atendimento de investidores,</br> governos e agências
            internacionais </br>corporative@doafacil.com.br</p>
        </div>

        <div class="col l4 s12 m6" id="contato">
          <h5 class="white-text">CONTATO</h5>
          <div>Fone e Whatsapp</div>
          <div><i></i>(81) 99900-9559</div>
          <div><i></i>Email <a href="mailto:name@example.com">hello@doafacil.com.br</a></div>
          <p class="grey-text text-lighten-4"><i></i>Escritório Virtual</br> Av. Caxangá, 3841 - Iputinga, Recife
            -
            PE.</p>
        </div>

        <div class="col l4 s12 m6">
          <h5 class="white-text">SIGA-NOS</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/StartBootstrap">facebook</a>
            </li>
            <li><a class="grey-text text-lighten-3" href="https://www.twitter.com/sbootstrap">twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/startbootstrap">Linkedin</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; 2020 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">Direitos Reservados - Ateliê do Bem V.1.0</a>
      </div>
    </div>
  </footer>


  <!-- formulários-->
  <script src="../plugins/JS/form.js"></script>

  <!-- rotacionar os texto na capa do site -->
  <script src="../plugins/JS/rotaciovarTexto.js"></script>

</body>

</html>