<!DOCTYPE HTML>

<!-- cetando a linguagem português do brasil -->
<html lang="pt-br">

<!-- cabeçalho do site -->

<head>

  <!-- exemplo de icone do site na aba -->
  <link rel="shortcut icon" type="image/x-icon" href="../imagens/img-icon/logo-icon-titulo-web.ico" />

  <!-- Titulo do site -->
  <title> Doa Fácil || Login</title>

  <!-- adicione a meta tag dos caracteres especiais da linguagem português do brasil-->
  <meta charset="UTF-8" />

  <!-- criando compatibilidade com o navegador IE edge-->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

  <!-- adicione a meta tag do viewport responsivo-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0,  shrink-to-fit=no" />

  <!-- adicione a meta tag das palavras chaves para a identificação do site nos mecanismos de buscas-->
  <meta name="keyworks"
    content="doar, fácil, instituições, onges, abrigos, ajuda, doações, lar, produtos, serviços, quero doar, onde doar, pra quem doar,doafácil.com" />

  <!-- adicione a meta tag com descrição da empresa ou de quem criou  sistema-->
  <meta name="description"
    content=" O sistema DoaFácil.com, é um produto desenvolvido pela startup ateliê do bem, com o intuito de ligar as pessoas que querem doar, mais, não sabe a quem o seu donativo vai ser util, seja uma instituição, ongs e etc..." />

  <!-- adicione a meta tag com informações dos authores opcional -->
  <meta name="author" content="Joanderson A. Martins" />

  <!-- adicione a meta tag de contato tanto para a empresa ou do author-->
  <meta name="contato" content="+55 81 9.8545-6283" />

  <!-- Adicionando o link do site dos icones do google -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- Adicionando o link das fontes do google -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&display=swap" rel="stylesheet" />

  <!-- Chamando o arquivo local materialaize css -->
  <link type="text/css" rel="stylesheet" href="../plugins/CSS/materialize.css" media="screen,projection" />

  <link rel="stylesheet" href="../plugins/CSS/custom.css" />

</head>

<!-- Corpo do sistema-->
<body>


        <form action="" class="formulario">
            <a href="../index.html"><i class="material-icons right">close</i></a>
            <h2 class="formulario__titulo">Login</h2>

            <input type="email" class="formulario__input">
            <label for="" class="formulario__label">Usuário / E-mail</label></br>

            <input type="password" name="senha" class="formulario__input">
            <label for="" class="formulario__label">Senha</label>

            <input type="submit" class="formulario__submit" value="Logar">
            <p>
                <a href="view_recuperacao.html">Esqueci Minha Senha ou Usuário</a>
            </p>
            <p>
                <a href="view_cadastro_pf.html">Quero me Cadastrar</a>
            </p>
        </form>

<!-- formulários-->
<script src="../plugins/JS/form.js"></script>

</body>
</html>